<div class="header">
    <mat-card-header>Your cart:</mat-card-header>
</div>

<div class="card-container">
    <mat-card id="card">
        <mat-card-header>
            <mat-card-title>Nigga</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p><strong>Author:</strong></p>
            <p><strong>Genre:</strong></p>
            <p><strong>Pages:</strong></p>
            <p><strong>Available copies:</strong></p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary">Remove</button>
        </mat-card-actions>
    </mat-card>
</div>